* {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    outline: none;
    /* border: 1px red solid; */
}

/* NOTE: It's fairly easy to discard any animation changes that
have been made to this file. Pick and choose what you think works best. */

body html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#backSquareKasey {
    z-index: 2;
    padding: 0;
    margin: 0;
    transform: skew(-45deg);
    position: absolute;
    left: -50%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
    animation: slide-in-k 2s;
}
/* Added "animation" */
/* Slides in alright, although the shape doesn't cover everything
entirely when sliding in. Check bottom right corner. */

@keyframes slide-in-k {
    from {
        transform: translateX(-100%) translateY(0%) skew(-45deg);
    }
    to {
        transform: translateX(0) translateY(0) skew(-45deg);
    }
}
/* Added @keyframes slide-in-k */

#centerDivide {
    z-index: 3;
    position: absolute;
    left: 49.5%;
    bottom: 25%;
    transform: rotate(45deg) scaleY(0);
    transform-origin: center;
    width: 1%;
    height: 50%;
    background-color: #888;
    animation: span-center 2s forwards;
    animation-delay: 2s;
}

@keyframes span-center {
    from {
        transform: rotate(45deg) scaleY(0);
    }
    to {
        transform: rotate(45deg) scaleY(1);
    }
}

#backSquareAlex {
    z-index: 1;
    position: absolute;
    right: 0;
    width: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #1e1e1e;
    float: left;
    box-shadow: none;
    outline: 0;
    /* animation: slide-in-a 2s; */
}

/* Animation for this side doesn't fill the screen properly */

/*
@keyframes slide-in-a {
    from {
        transform: translateX(100%) translateY(100%) skew(-45deg);
    }
    to {
        transform: translateX(0) translateY(0) skew(-45deg);
    }
}
*/

h1 {
    font-size: 15vw;
    font-size: auto;
    position: absolute;
    z-index: 2;
}

#res { 
    right: 50%;
    top: 25%;
    color: #1e1e1e;
}

#ume {
    left: 50%;
    top: 45%;
    color: #e1e1e1;
    opacity: 0;
}

.txt-float-ume {
    animation-duration: 1s;
    animation-name: ume-float;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes ume-float {
    0% {
        opacity: 0
    } 

    100% {
        opacity: 1.0;
    }
}

#Alex {
    font-size: 10vh;
    color: #e1e1e1;
    bottom: 1%;
    right: 1%;
    position: absolute;
    z-index: 3;
    writing-mode: vertical-lr;
    text-orientation: upright;
    opacity: 0;
}

.txt-float-a {
    animation-duration: 1s;
    animation-name: a-float;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
/* Animation to float "Alex" onto the screen after
delaying it slightly so that the initial slide in of the background
finishes first. 
animation-fill-mod: forwards // this will ensure that the text maintains
whatever opacity or conditions are set at the end of the animation. */

@keyframes a-float {
    0% {
        margin-bottom: 5%;
        opacity: 0
    } 
    50% {
        opacity: .5;
    }
    100% {
        margin-bottom: 0;
        opacity: 1.0;
    }
}

#Kasey {
    font-size: 10vh;
    color: #1e1e1e;
    top: 1%;
    left: 1%;
    position: absolute;
    z-index: 3;
    writing-mode: vertical-lr;
    text-orientation: upright;
    opacity: 0;
}

.txt-float-k {
    animation-duration: 1s;
    animation-name: k-float;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
/* Animation to float "Kasey" onto the screen */

@keyframes k-float {
    0% {
        margin-top: -5%;
        opacity: 0
    } 
    50% {
        opacity: .5;
    }
    100% {
        margin-top: 0;
        opacity: 1.0;
    }
}